.App  {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://media.tenor.com/WkuQC7dwNa8AAAAM/space-wallpaper-stars-background.gif') no-repeat center center fixed;
  background-size: cover;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  border-radius: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logoutComp {
  position: fixed;
  top: 1vw;
  right: 2vw;
  z-index: 1000;
}

.header {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 20px;
  color: #333;
}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  color: white; 
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 30px;
  color: #f0f8ff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.button-container {
  display: flex;
  gap: 20px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-3px); 
}

button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.8);
}

.user-name {
  font-size: 20px;
  font-weight: bold;
  color: #aa0d0d;
  padding-right: 85vw;
}

/* Overall Layout */
.homepage {
  font-family: 'Arial', sans-serif;
  background-image: url('../public/app-bg.jpg');
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: flex-start;
}

.file-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  width: 10%;
  justify-content: center;
  padding: 20px;
}

.directory-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: white;
  text-decoration: dotted;
  padding: 10px 0;
  padding-right: 75px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 5px;
}

.file-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vh;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  padding: 20px;
  padding-left: 70px;
  padding-right: 70px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  position: relative;
  backdrop-filter: blur(10px);
}

.file-card:hover {
  transform: translateY(-10px);
}

.file-card-logo {
  margin-bottom: 15px;
}

.file-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.file-details {
  text-align: center;
  width: 100%;
}

.file-name, .file-type, .file-size, .upload-date, .file-url {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
  word-wrap: break-word;
}

strong {
  font-weight: 600;
}

.file-url a {
  color: #007bff;
  text-decoration: none;
}

.file-url a:hover {
  text-decoration: underline;
}

.file-menu {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu-icon {
  font-size: 18px;
  padding-left: 2vh;
  transition: transform 0.3s ease;
}

.menu-options {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);
  transition: all 0.2s ease;
}

.file-menu:hover .menu-options {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.no-files {
  text-align: center;
  font-style: italic;
  font-size: 16px;
  color: #333;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.upload-btn {
  margin-top: 50px;
}

.upload-btn button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-btn button:hover {
  background-color: #0056b3;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(3px);
  width: 100%;
  max-width: 500px;
}

.signup-container h2 {
  font-size: 2.5em;
  font-weight: bold;
  color: #f1f1f1;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.signup-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.signup-container input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
  background-color: #ffffff;
}

.signup-container button {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.signup-container button:disabled {
  background-color: #0056b3;
  cursor: not-allowed;
}

.signup-container button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.loading-icon {
  font-size: 20px;
  color: #007bff;
  margin-left: 10px;
}

.error-message {
  color: #d9534f;
  background-color: rgba(255, 99, 71, 0.2);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

@media (max-width: 500px) {
  .signup-container {
    padding: 20px;
    max-width: 90%;
  }

  .signup-container h2 {
    font-size: 2em;
  }
}